{% extends 'home/menu.html.twig' %}

{% block title %}Bienvenue !! {% endblock %}

{% block body %}
    <h1>Le camping de l'espadrille volante *** </h1>

    <p>Camping idéalement situé en bord de mer etc....</p>




{% endblock %}