{% extends 'base.html.twig' %}

{% block title %}New Templates{% endblock %}

{% block body %}
    <h1>Create new Templates</h1>

    {{ include('admin/templates/_form.html.twig') }}

    <a href="{{ path('templates') }}">back to list</a>
{% endblock %}
